# requirements.txt
# All packages listed here will be installed on the Appwrite server
# and will be available for remote execution via PyCDN.

# PyCDN itself is needed to run the server
pycdn

# The packages you want to serve
fastapi
uvicorn[standard]
httpx
pydantic
typing-extensions
cloudpickle
importlib-metadata
websockets
requests
cryptography
python-dotenv
openai